*.d
*.o
*.lib
*.a

.vscode/

apple-tools/*.jar
apple-tools/*.dsk

_libs/
_cache/
build/
dist/
obj/

# emulator configs
altirra-debug*.ini
atari800-debug.cfg
AppleWin.log

# python
__pycache__/
*.py[cod]
.Python
*.egg-info/

Makefile.options
.DS_Store

assets/*
!assets/README.md